*{
    transition-duration: .2s;
    font-family: Roboto sans-serif;
}
.header, .slider, .banner{
    background-color: #77bbbb;
    min-height: 140px;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    max-width: 60%;
    width: 60%;
    min-width: 750px;
    margin: 0 auto;
}
.new-items ~ div{
    font-size: 30px;
    min-height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #bbbb77;
}
.promotion ~ div{
    background-color: #77bbbb;
}
/*======================TOP MENU=======================*/
.top-menu {
    background-color: #000;
    color: #bdc3c5;
    font-size: 13px;
    padding:  12px 0;
    min-height: 40px;
}
.burger{
    display: none;
}
.linear{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
.linear>li{
    position: relative;
}
li:hover>a{
    color: #ffff;
    text-shadow: 1px 2px 3px #ff5816;
}
.drop-down{
    display: none;
    position: absolute;
    margin-top: 0;
    left: -.5em;
    z-index: 10;
    padding: 10px;
    background-color: #000;
    min-width: 150px;
}
.drop-down>li{
    margin: 5px 0;
}
.linear>li:hover .drop-down{
    display: block;
}
.linear>li:first-child>a:after, .linear>li:nth-child(2)>a:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    content: "\25BC";
    color: #ff5816;
}
.linear>li:hover>a:after{
    text-shadow: none;
    transform: rotate(180deg);
}

/*======================TOP MENU=======================*/

/*======================Main MENU=======================*/
.menu{
    display: flex;
    min-height: 48px;
    margin: 22px 0;
    border-radius: 10px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 1, 1, 0.23);
    background-color: #ff5816;
    color: #ffffff;

}
.nav-items{
    width: calc(100% - 20px);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-height: inherit;
}
.nav-items>div{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    width: max-content;
    height: inherit;
    padding: 0 9px;
}
.nav-items>div:not(:last-child){
    border-right: 1px solid #ff8f62;
}{}
.nav-left, .nav-right{
    min-height: inherit;
    width: 10px;
    align-items: center;
    display: flex;
}
.nav-left{
    border-radius: 10px 0 0 10px;
}
.nav-right{
    border-radius: 0 10px 10px 0;
}
.nav-items>div:hover, .nav-left:hover, .nav-right:hover{
    background-color: #ff8f62;
}
/*======================Main MENU=======================*/

/************************Section************************/
.main{
    margin-bottom: 40px;
    display: grid;
    grid-template-areas:
    "news banner"
    "news slider";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(0, max-content);
    grid-gap: 30px;
    min-height: 450px;
}
.main>div{
    border-radius: 10px;
}
.news{
    grid-area: news;
}
.news>h2{
    font-size: 22px;
    color: #2c3333;
    padding: 15px 0;
    text-transform: uppercase;
}
.news .img{
    border-radius: 7px;
    background-color: #ff8f62;
    background-image: url("../img/news_1.jpg");
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.news article{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    font-size: 13px;
}
.news-img{
    width: max-content;
    text-align: center;
}
.news-txt{
    color: #040d0d;
    font-weight: 300;
    line-height: 1.38;
}
.news a{
    font-weight: 500;
    color: #4673ab;
}
.news-day{
    width: 36px;
    height: 28px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #ff5816;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: -25% auto 0 auto;
}
/*****news***/
/*****banner*/
.banner{
    grid-area: banner;
    padding: 15px 36px 15px 38px;
    min-height: 50px;
}
.slider{
    grid-area: slider;
}
/************************Section************************/

/**************CARDS*******/
.cards{
    width: 100%;
    max-width: 100%;
}
.cards header{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
}
.cards hr{
    height: 1px;
}
.cards h2{
    margin-right: 25px;
    font-size: 22px;
    color: #040d0d;
}
.cards a{
    margin-left: 12px;
    font-size: 13px;
    text-decoration: underline;
    color: #4673ab;
}
.crd-slider{
    margin: 40px 0;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    grid-gap: 43px;
}
.crd-prev, .crd-next{
    width: 16px;
    height: 44px;
    font-size: 1em;
    color: #ff5816;
}
.crd-view{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    align-items: center;
    overflow: hidden;
}
.card{
    min-width: 213px;
    /*width: 233px;*/
    height: 388px;
    border-radius: 10px;
    border: solid 1px #dbdee6;
}


.footer{
    position: relative;
    min-height: 350px;
    width: 100%;
    background-color: #3e6180; /* цвет на глаз*/
}
.disclaimer{
    position: absolute;
    bottom: 30px;
    height: 74px;
    width: 100%;
    background-color: #273c4f; /* цвет на глаз*/
}






@media screen and (max-width: 980px){
    .container{
        max-width: calc(100% - 32px);
        width: calc(100% - 32px);
        margin: 0 16px;
        min-width: 320px;
    }

    /*======================TOP MENU=======================*/
    .top-menu .linear{
        display: none;
        padding: 20px;
    }
    .drop-down{
        position: relative;
    }
    .burger{
        display: block;
        width: max-content;
        margin: 0 auto;
    }

    .burger:hover ~ .linear, .linear:hover, .linear  *:hover{
        display: block;
    }
    .burger:hover>div{
        color: #ffff;
        text-shadow: 1px 2px 3px #ff5816;
    }
    .burger>div{
        float: left;
    }
    .burger-icon{
        position: relative;
        width: 32px;
        height: 17px;
        margin-right : 10px;
        overflow: visible;
    }
    .burger-icon>div{
        position: absolute;
        background-color: #ff5816;
        width: 100%;
        height: 3px;
    }
    .burger-icon>div:nth-child(1){
        top: 0;
    }
    .burger-icon>div:nth-child(2){
        top: 7px;
    }
    .burger-icon>div:nth-child(3){
        bottom: 0;
    }
    .burger:hover .burger-icon>div:nth-child(1){
        transform: translateY(7px) rotate(135deg);
    }
    .burger:hover .burger-icon>div:nth-child(2){
        display: none;
    }
    .burger:hover .burger-icon>div:nth-child(3){
        transform: translateY(-7px) rotate(-135deg);
    }

    /*======================TOP MENU=======================*/
    /*======================NAV MENU=======================*/
    .menu{
        display: none;
    }
}

@media screen and (max-width: 750px){

}
@media screen and (max-width: 320px){
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0 0;
        min-width: auto;
    }
    .no-mob{
        display: none;
    }
    .crd-view{
        grid-template-columns: 1fr;
    }
}



.hidden{
    display: none;
}