@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

:root {
  --link-color: #4673ab;
  --orange: #ff5816;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

@media screen and (max-width: 980px) {
  .container {
    padding: 0 10px;
  }
}
