.container{
    max-width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.top-menu {
    background-color: #000;
    color: #fff;
}

.footer{
    background-color: #3e6180; /* цвет на глаз*/
}
.disclaimer{
    background-color: #273c4f; /* цвет на глаз*/
}


div{
    border: 2px solid darkorchid;
    min-height: 20px;
}
@media screen and (max-width: 980px){
    .menu{
        display: none;
    }
}
@media screen and (max-width: 750px){

}
@media screen and (max-width: 320px){
    .no-mob{
        display: none;
    }
}
